###一時的にresultのhtmlを保管する

<%= stylesheet_link_tag 'public/diagnoses/result', :media => "all" %>
<%= stylesheet_link_tag 'public/diagnoses/reset_result', :media => "all" %>
<div class="contents-result">
  <section class="diagnosis">

    <div class="inner">

      <div class="ttl">
        <p>あなたにオススメのウイスキーは！！</p>
      </div> <!--ttl-->

      <div class="top">
        <figure>
        </figure>
      </div> <!--top-->

      <div class="wrap">
        <div class="box">
          <div class="wraps">
            <div class="circle">
              <figure>
              </figure>
            </div> <!--circle-->
            <div class="circle">
              <figure>
              </figure>
            </div> <!--circle-->
            <div class="circle">
              <figure>
              </figure>
            </div> <!--circle-->
          </div> <!--box-->
        </div> <!--wrap-->
           <p>です！！！</p>
          </div> <!--wraps-->

          <div class="space">
            <p>レーダーチャート用</p>
          </div> <!--space-->

      <div class="btn">
        <a href="#">詳細に進む</a>
      </div> <!--btn-->

      <div class="btn">
        <a href="#">トップに戻る</a>
      </div> <!--btn-->

    </div> <!--inner-->
  </section>
</div>